.default {
  background-attachment: fixed;
  background-image: linear-gradient(
    to top,
    #051937,
    #4a275a,
    #962a61,
    #d2414a,
    #eb7912
  );
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: white;
  text-shadow: 0.075em 0.075em 0 #2a3439; /* Gunmetal */
}

p {
  color: azure;
  text-shadow: 0.075em 0.075em 0 #313c45; /* Volkswagen Copenhagen Blue */
}

::-webkit-scrollbar {
  display: none;
}

table {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

th {
  color: blueviolet;
  text-shadow: 0.075em 0.075em 0 violet;
  text-align: left;
}
