.default {
  background-attachment: fixed;
  background-image: linear-gradient(
    to right bottom,
    #303f9f,
    #2b41a0,
    #2642a0,
    #2044a1,
    #1945a1,
    #134eaa,
    #0a58b2,
    #0061ba,
    #0074cc,
    #0088de,
    #009cef,
    #00b0ff
  );
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: white;
  text-shadow: 0.075em 0.075em 0 #2a3439; /* Gunmetal */
}

p {
  color: azure;
  text-shadow: 0.075em 0.075em 0 #313c45; /* Volkswagen Copenhagen Blue */
}

::-webkit-scrollbar {
  display: none;
}

table {
  margin: auto;
  width: auto;
  min-width: 70%;
  border: 3px solid green;
  padding: 10px;
}

th {
  color: #abc123;
  text-shadow: 0.075em 0.075em 0 violet;
  text-align: left;
}

td {
  color: #313c45;
  text-shadow: 0.075em 0.075em 0 whitesmoke;
  text-align: left;
}

table tr:nth-child(odd) td {
  background-color: #d6eeee;
  opacity: 0.5;
}
